hexo-config(name)
  name == 'scheme' ? 'Pisces' :
  name == 'highlight_theme' ? 'normal' :
  name == 'font.global.family' ? 'Monda' :
  name == 'font.logo.family' ? 'Lobster Two' :
  name == 'font.headings.family' ? 'Roboto Slab' :
  name == 'font.posts.family' ? 'Monda' :
  name == 'font.codes.family' ? 'PT Mono' : ''

@import "src/source/css/main.styl"
